
<div class="sidenav">
  <a href="#" title="search"><i class="fa fa-search"><span>Search</span></i></a>
  <a href="#"><i class="fa fa-globe"><span>Find</span></i></a>
  <a href="#"><i class="fa fa-envelope"><span>Mail</span></i></a>
  <a href="#"><i class="fa fa-envelope"><span><select style="font-size: 20px;
  color: #818181;background:#111;border:0px;position:absolute;"><option>Option1</option><option>Option2</option><option>Option3</option><option>Option4</option></select></span></i></a>
   <a href="#"><i class="fa fa-globe"><span>Global</span></i></a>
   <a href="#"><i class="fa fa-trash"><span>Trash</span></i></a>
   <a href="#"><i class="fa fa-search"><span>Search</span></i></a>
   <a href="#"><i class="fa fa-search"><span>Find</span></i></a>
   <a href="#"><i class="fa fa-envelope"><span>Mail</span></i></a>
   <a href="#"><i class="fa fa-globe"><span>Global</span></i></a>
   <a href="#"><i class="fa fa-trash"><span>Trash</span></i></a>
   <a href="#"><i class="fa fa-search"><span>Search</span></i></a>
   <a href="#"><i class="fa fa-search"><span>Find</span></i></a>
   <a href="#"><i class="fa fa-envelope"><span>Mail</span></i></a>
   <a href="#"><i class="fa fa-search"><span>Search</span></i></a>
   <a href="#"><i class="fa fa-search"><span>Find</span></i></a>
   <a href="#"><i class="fa fa-envelope"><span>Mail</span></i></a>


</div>
<div class="main">
  <app-admin-body-component></app-admin-body-component>
</div>

<script type="text/javascript">
  
  $('.sidenav ul li').hover(function() {
   $('.dropdown', this).stop().slideToggle(400);
});




</script>
